<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.depran.nimoc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_nimoc_black"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".opening.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opening.FirstSliderActivity"
            android:theme="@style/AwalTheme" />
        <activity
            android:name=".user.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".buku.DashboardBukuActivity"
            android:label="@string/title_activity_dashboard_buku"
            android:parentActivityName=".buku.BerandaActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".buku.TambahPemasukanActivity"
            android:label="Tambah Pemasukkan"
            android:parentActivityName=".buku.DashboardBukuActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".buku.TambahPengeluaranActivity"
            android:label="Tambah Pengeluaran"
            android:parentActivityName=".buku.DashboardBukuActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".divisi.TambahDivisiActivity"
            android:label="Tambah Divisi"
            android:parentActivityName=".buku.DashboardBukuActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".divisi.EditDivisiActivity"
            android:label="Edit Divisi"
            android:parentActivityName=".buku.DashboardBukuActivity"
            android:theme="@style/AppThemeA" />
        <activity android:name=".etc.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".buku.BerandaActivity"
            android:theme="@style/AppThemeA"/>
        <activity android:name=".buku.BerandaActivity" />
        <activity android:name=".buku.CatatanKeuanganActivity" />
        <activity
            android:name=".buku.TambahBukuKeuanganActivity"
            android:label="Tambah Buku"
            android:parentActivityName=".buku.BerandaActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".buku.EditBukuKeuanganActivity"
            android:label="Edit Buku"
            android:parentActivityName=".buku.BerandaActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".etc.BantuanActivity"
            android:label="Bantuan"
            android:parentActivityName=".buku.BerandaActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".user.EditPasswordActivity"
            android:label="Edit Password"
            android:parentActivityName=".etc.ProfileActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".user.EditProfileActivity"
            android:label="Edit Profile"
            android:parentActivityName=".etc.ProfileActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".etc.BantuanDetailActivity"
            android:label="Bantuan Detail"
            android:parentActivityName=".etc.BantuanActivity"
            android:theme="@style/AppThemeA" />
        <activity
            android:name=".etc.AboutActivity"
            android:label="About"
            android:parentActivityName=".buku.BerandaActivity"
            android:theme="@style/AppThemeA" />
        <activity android:name=".divisi.DivisiActivity"></activity>
    </application>

</manifest>