<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.depran.nimoc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".function.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstSliderActivity"
            android:theme="@style/AwalTheme">
        </activity>
        <activity android:name=".user.LoginActivity"
            android:theme="@style/LoginTheme">
        </activity>

        <activity
            android:name=".buku.DashboardBukuActivity"
            android:label="@string/title_activity_dashboard_buku"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".buku.TambahPemasukanActivity" />
        <activity android:name=".buku.TambahPengeluaranActivity" />
        <activity android:name=".divisi.TambahDivisiActivity" />
        <activity android:name=".etc.BantuanDetailActivity" />
        <activity android:name=".divisi.EditDivisiActivity" />
        <activity android:name=".etc.ProfileActivity"></activity>
        <activity android:name=".buku.BerandaActivity" />
        <activity android:name=".buku.CatatanKeuanganActivity"></activity>
        <activity android:name=".buku.TambahBukuKeuanganActivity" />
        <activity android:name=".buku.EditBukuKeuanganActivity" />
    </application>
</manifest>